@charset "UTF-8";

@import "main-form.css";

/*================================================================================================
                            Estiliza del-relic.php e del-cof.php
=================================================================================================*/
input, textarea, select {
  color: grey;
}

input#cod {
  color: red;
  font-weight: bold;
}

.button_action {
  color: black;
}

#delete {
  background-color: red;
}

#goto_search_page {
  background-color: rgb(106, 212, 212);
}