@charset "UTF-8";

/*------------------------------------------------------------------------------------------------
                                    Estiliza a barra de espera
------------------------------------------------------------------------------------------------*/
#bar {
  display: none;
  background-color: grey;
  border: solid 1px;
  width: 50%;
  margin: 1rem 0 0.5rem 10px;
} 

#ocilator {
  width: 10%;
  height: 20px;
  background-color: blue;
  position: relative;
}