@charset "UTF-8";

@import "main.css";
@import "upload-images.css";
@import "ocilator.css";

/*================================================================================================
                        Estiliza upload-relic.php e upload-cof.php
=================================================================================================*/
#cod {
  color: grey;
}

#goto_search_page {
  background-color: rgb(106, 212, 212);
}

.thumb {
  display: block;
  margin: 1vw;
  width: 6vw;
  border: solid 2px;
  float:left;
}
