@charset "UTF-8";

/*================================================================================================
                                 Fonte cursiva para as secoes
=================================================================================================*/
@font-face {
  font-family: "Chilanka";
  src: url("../fonts/chilanka-regular.ttf");
}

@font-face {
  font-family: "MonteCarlo";
  src: url("../fonts/montecarlo-regular.ttf");
}




