@charset "UTF-8";

/*================================================================================================
                      main.css importa colors.css fonts.css e languages.css
=================================================================================================*/
@import "main.css";

/*================================================================================================
                                  Personaliza o cursor do mouse
=================================================================================================*/
body {
  cursor: url('../images/cursors/cursor4.png'), auto;
}

/*================================================================================================
                    Configuracoes para o quadro de cortica da secao mapa
=================================================================================================*/
.quadro-de-cortica {
  background-color: rgba(96, 56, 30, 0.4);
}

/*-------------------------------------------------------------
          div contendo o iframe do Google Maps
-------------------------------------------------------------*/          
.quadro-de-cortica #map {
  position: absolute;
}

iframe {
  width: 100%;
  height: 30vh;
  border: solid 2px;
}

/*================================================================================================
                     CSS responsivo para telas com largura menor que 600px
=================================================================================================*/
@media only screen and (max-width: 600px) {
  iframe {
    height: 20vh;
  }
}
