@charset "UTF-8";

/*================================================================================================
                      main.css importa colors.css fonts.css e languages.css
=================================================================================================*/
@import "main.css";

/*================================================================================================
                                  Personaliza o cursor do mouse
=================================================================================================*/
body { cursor: url('../images/cursors/cursor6.png'), auto; }

/*================================================================================================
                                Estiliza show-details.php
=================================================================================================*/
h1 { margin: 5vh 0 3vh 0; }

#main { width: 40%; margin: 0 0 2vh 0; float: left; transition: 0.8s; }

#main:hover { width: 60%; cursor: zoom-in; }

#main img { border: solid 5px green; width: 95%; margin-right: 5%; }

#aside { width: 40%; overflow: auto; }

.thumb { 
  width: 18%;
  margin-left: 2%; 
  margin-bottom: 1vw; 
  float: left; 
}

.thumb:hover { cursor: pointer; }

.postit { margin: 0 0 3vh 0; width: 40%; position: relative; float: left; }

.postit img { position: absolute; width: 6%; top: -2%; left: 47%; }

#back {
  clear: left;
  display: block;
  width: 8%;
  margin-left: auto;
  margin-right: auto;
}

#back img { width: 80%; }
