@charset "UTF-8";

:root {
  --body-background:  white;

  --h1-color: black;
  --h2-color: black;
  --h3-color: black;
  --h4-color: black;
  --h5-color: black;
  --h6-color: black;
  
  --nav-background: var(--body-background);
  --nav-color: black;
  --nav-hover-color: rgb(238, 234, 234);

  --blue-o-color: #2C459C;
  --red-a-color: #EE3539;
  --green-r-color: #19B060;
  --orange-m-color: #F58637;
  --green-a-color: #0FB99B;
  --purple-z-color: #4F2C72;
  --blue-e-color: #1597D5;
  --lilac-m-color: #A82F82;

  --link-color: var(--lilac-m-color);

}

