@charset "UTF-8";

@import "colors.css";
@import "languages.css";
@import "fonts.css";

/*-------------------------------------------------------------------------
                           Configuracoes globais
-------------------------------------------------------------------------*/
html {
  font-size: 16px;
}

body {
  font-family: Chilanka, cursive;
  font-size: 1em;
}

h1, h2 {
  margin: 3vw;
}

.container {
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;

  position: relative;
  border: solid 3px #6e7491;
  text-align: center;
  width: 30%;
  transform: rotate(-1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  transition: all 0.13s ease-in;
}

.container:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

