@charset "UTF-8";

@import "colors.css";
@import "languages.css";

/*-------------------------------------------------------------------------
                           Configuracoes globais
-------------------------------------------------------------------------*/
html {
  font-size: 16px;
}

body {
  font-family: Chilanka, cursive;
  font-size: 1em;
}

h1, h2 {
  margin: 3vw;
}