@charset "UTF-8";

@import "colors.css";
@import "languages.css";
@import "fonts.css";

/*-------------------------------------------------------------------------
                           Configuracoes globais
-------------------------------------------------------------------------*/
html {
  font-size: 16px;
}

body {
  font-family: Chilanka, cursive;
  font-size: 1em;
}

h1, h2 {
  margin: 3vw;
}

.postit {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.yellow-postit {
  float: left;
  background-image: url("../images/postit.png"); 
  width: 30%;
  transform: rotate(1deg);
}

.yellow-postit h1, img{
  padding-top: 10px;
  margin-bottom: 25px;
}

#red-pin {
  position: absolute;
  top: -15px;
  left: 3px;
}



