@charset "UTF-8";

/*---------------------------------------------------------------------------
           Display para as tags spam com textos em pt e en
---------------------------------------------------------------------------*/
.pt {
  display: none;
}

.en {
  display: none;
}

.es {
  display: none;
}

/*----------------------------------------------------------------------------
              Posiciona icon para alternancia de idiomas
----------------------------------------------------------------------------*/
#flag {
  position: absolute;
  top: 5px;
  right: 5px;
}


