@charset "UTF-8";

/*---------------------------------------------------------------------------
           Display para as tags spam com textos em pt e en
---------------------------------------------------------------------------*/
.br {
  display: none;
}

.en {
  display: none;
}

.es {
  display: none;
}

.fr {
  display: none;
}

/*----------------------------------------------------------------------------
              Posiciona icon para alternancia de idiomas
----------------------------------------------------------------------------*/
#flag {
  position: relative;
  display: block;
  float: right;
  margin-right: 2vw;
  width: 24px;
  height: 24px;
}


