@charset "UTF-8";

/*----------------------------------------------------------------------------
                     Estiliza a logomarca do Armazém
-----------------------------------------------------------------------------*/

/*O primeiro O da logomarca*/
.letter_1o {
  color:#2C459C;
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 1em; 
}
/*O primeiro A da logomarca*/
.letter_1a {
  color:#EE3539;
  font-family: Arial;
  font-size: 1.3em;
}
/*O primeiro R da logomarca/*/
.letter_1r {
  color:#19B060;
  font-family: sans-serif; 
  font-size: 1em;
}
/*O primeiro M da logomarca*/
.letter_1m {
  color:#F58637;
  font-family: Arial;
  font-size: 1em;
}
/*O segundo A da logomarca*/
.letter_2a {
  color:#0FB99B;
  font-family: Spartan;
  font-size: 1.25em;
}
/*O primeiro Z da logomarca*/
.letter_1z {
  color:#4F2C72;
  font-family: Chilanka, cursive;
  font-size: 0.95em;
}
/*O primeiro E da logomarca*/
.letter_1e {
  color:#1597D5;
  font-family: Chilanka, cursive;
  font-size: 0.95em;
}
/*O segundo M da logomarca*/
.letter_2m {
  color:#A82F82;
  font-family: Chilanka, cursive;
  font-size: 1.35em;
}
/*Estiliza h1 (h1 = O armazém) e h2 (h2 = café & relíquias)*/
.logomarca h1, h2 {
  padding: 0;
  margin: 0;
}
/*(h2 = café & relíquias)*/
.logomarca h2 {
  font-family: Chilanka, cursive;
  font-size: 0.7em;
  position: relative;
  top: -1em;
  margin-left: 9.7em;
}
/*Centraliza a logomarca na página e define seu tamanho*/
.logomarca {
  text-align: center; 
  height: 10vw;
  font-size: 2vw;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--body-background);
}

/*----------------------------------------------------------------------------
                           CSS responsivo
 ---------------------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
  .logomarca {
    font-size: 2.2vw;
  }
}

@media only screen and (max-width: 700px) {
  .logomarca {
    font-size: 2.4vw;
  }
}

@media only screen and (max-width: 600px) {
  .logomarca {
    font-size: 2.6vw;
  }
}

@media only screen and (max-width: 500px) {
  .logomarca {
    font-size: 2.8vw;
  }
}

@media only screen and (max-width: 400px) {
  .logomarca {
    font-size: 3vw;
  }
}