@charset "UTF-8";

@import "colors.css";
@import "languages.css";
@import "fonts.css";

/*-------------------------------------------------------------------------
                           Configuracoes globais
-------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Chilanka, cursive;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--body-background);
  overflow-x: hidden;
}

/*-------------------------------------------------------------------------
                          Configura o header
-------------------------------------------------------------------------*/
header {
  background-color: var(--body-background);
}
  
/*-------------------------------------------------------------------------
              Configura o logo na parte superior da pagina
-------------------------------------------------------------------------*/
#logo {
  display: block; 
  width: 27vw; 
  height: auto; 
  margin: 3vw auto 3vw auto;
} 

#logo:hover {
  cursor: pointer;
}

/*-------------------------------------------------------------------------
                       Configura o menu de navegacao
-------------------------------------------------------------------------*/
#menu {
  height: 3vw;
  padding-top: 0.8vw;
  width: 100%;
  background-color: var(--nav-background);
  z-index: 100;
}

/*-------------------------------------------------------------------------
            Configura os itens do menu do banner de navegacao
-------------------------------------------------------------------------*/
#menu ul {
  list-style: none;
}

#menu li {
  float: left;
  margin-left: 4vw;
  font-size: 1.4vw;
  color: var(--nav-color);
}

#menu li:hover {
  cursor: pointer;
}

#menu li:hover::before {
  content : "\261E";
}

/*------------------------------------------------------------------------------------------------
                               Configura o quadro de cortica
------------------------------------------------------------------------------------------------*/
.quadro-de-cortica {
  border: ridge 8px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: grid;
  grid-template-columns: 12.5% 12.5% auto 12.5% 12.5% 12.5% 12.5% 12.5%;
  gap: 1vw;
}

.quadro-de-cortica > div {
  padding: 5%;
}

/*------------------------------------------------------------------------------------------------
                        Boxes no quadro para fotos e bilhetinhos
------------------------------------------------------------------------------------------------*/
.quadro-de-cortica .box1 {
  grid-area: box1;
}

.quadro-de-cortica .box2 {
  grid-area: box2;  
}

.quadro-de-cortica .box3 {
  grid-area: box3;  
}

.quadro-de-cortica .box4 {
  grid-area: box4;  
}

.quadro-de-cortica .box5 {
  grid-area: box5;  
}

.quadro-de-cortica .box6 {
  grid-area: box6;  
}

.quadro-de-cortica .box7 {
  grid-area: box7;  
}

.quadro-de-cortica .box8 {
  grid-area: box8;  
}

.quadro-de-cortica .box9 {
  grid-area: box9;  
}

.quadro-de-cortica .box10 {
  grid-area: box10;  
}

.quadro-de-cortica .box11 {
  grid-area: box11;  
}

.quadro-de-cortica .box12 {
  grid-area: box12;  
}

/*------------------------------------------------------------------------------------------------
                      Os tipos de bilhetinhos do quadro de cortica
------------------------------------------------------------------------------------------------*/
.quadro-de-cortica .postit {
  margin: auto;
}

.quadro-de-cortica .yellow-postit {
  width: 50%;
  transform: rotate(-2deg);
}

.quadro-de-cortica .orange-postit {
  width: 90%;
  transform: rotate(2deg);
}

.quadro-de-cortica .blue-postit {
  width: 60%;
}

.quadro-de-cortica .brown-postit {
  width: 98%;
  transform: rotate(-3.5deg);
}

/*------------------------------------------------------------------------------------------------
         Divs para as fotos. Esta div faz a foto oucpar 80% da largura do seu box e permite 
         que o pin da foto seja posicionado corretamente sobre ela.           
------------------------------------------------------------------------------------------------*/
.foto-container {
  position: relative;
  width: 80%;
  margin: auto;
}

/*------------------------------------------------------------------------------------------------
                     Estiliza as fotos dentro das divs .foto-container
------------------------------------------------------------------------------------------------*/
.foto {
  display: block;
  width: 100%;
  height: auto;
  border: solid white 5px;
  padding: 0;
}

/*------------------------------------------------------------------------------------------------
             Cores "hover" para as molduras das fotos que sao links para secoes
------------------------------------------------------------------------------------------------*/
img[data-color="blue-o"]:hover {
  border-color: var(--blue-o-color);
  cursor: pointer;
}

img[data-color="red-a"]:hover {
  border-color: var(--red-a-color);
  cursor: pointer;
}

img[data-color="green-r"]:hover {
  border-color: var(--green-r-color);
  cursor: pointer;
}

img[data-color="orange-m"]:hover {
  border-color: var(--orange-m-color);
  cursor: pointer;
}

img[data-color="green-a"]:hover {
  border-color: var(--green-a-color);
  cursor: pointer;
}
/*------------------------------------------------------------------------------------------------
                                  Estiliza os postits do site
------------------------------------------------------------------------------------------------*/

.postit {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  line-height: 26px;
  padding: 5px;
}

.yellow-postit {
  background-image: url("../images/postits/yellow-postit.png"); 
}

.orange-postit {
  background-image: url("../images/postits/orange-postit.png"); 
}

.blue-postit {
  background-image: url("../images/postits/blue-postit.png"); 
}

.brown-postit {
  background-image: url("../images/postits/brown-postit.png"); 
}

/*------------------------------------------------------------------------------------------------
                            Estiliza os pins dos post-its
------------------------------------------------------------------------------------------------*/
img[alt="pin"] {
  position: absolute;
  top: -15px;
}

.left-pin {
  left: 20px;
}

.center-pin {
  left: 45%;
}

.right-pin {
  right: 5px;
}


/*-------------------------------------------------------------------------
                           Estiliza o rodape
-------------------------------------------------------------------------*/
footer {
  width: 100%;
  height: 32px;
  background-color: var(--body-background);
  position: fixed;
  bottom: 0;
  z-index: 100;
}

footer img {
  display: block;
  float: left;
  margin-left: 2vw;
  margin-top: 4px;
}

footer address {
  position: absolute;
  left: 0;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  margin-top: 6px;
  font-size: 14px;
  text-align: center;
}

/*-------------------------------------------------------------------------
                      CSS responsivo para o header
-------------------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
  #menu {
    height: 5.5vw;
  }

  #menu li {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 700px) {
  #menu {
    height: 6vw;
  }

  #menu li {
    font-size: 2.2vw;
  }
}

@media only screen and (max-width: 600px) {
  #menu {
    height: 6.5vw;
  }

  #menu li {
    font-size: 2.6vw;
  }
}

@media only screen and (max-width: 500px) {
  #menu {
    height: 7vw;
  }

  #menu li {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 400px) {
  #menu {
    height: 7.5vw;
  }

  #menu li {
    font-size: 3.4vw;
  }
}